$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?dc974c3cf010384725675e2b77f55cf7") format("truetype"),
url("./flaticon.woff?dc974c3cf010384725675e2b77f55cf7") format("woff"),
url("./flaticon.woff2?dc974c3cf010384725675e2b77f55cf7") format("woff2"),
url("./flaticon.eot?dc974c3cf010384725675e2b77f55cf7#iefix") format("embedded-opentype"),
url("./flaticon.svg?dc974c3cf010384725675e2b77f55cf7#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "soup": "\f101",
    "roti-canai": "\f102",
    "chicken-leg": "\f103",
    "ice-cream": "\f104",
    "vegetarian": "\f105",
    "spaghetti": "\f106",
);

.flaticon-soup:before {
    content: map-get($flaticon-map, "soup");
}
.flaticon-roti-canai:before {
    content: map-get($flaticon-map, "roti-canai");
}
.flaticon-chicken-leg:before {
    content: map-get($flaticon-map, "chicken-leg");
}
.flaticon-ice-cream:before {
    content: map-get($flaticon-map, "ice-cream");
}
.flaticon-vegetarian:before {
    content: map-get($flaticon-map, "vegetarian");
}
.flaticon-spaghetti:before {
    content: map-get($flaticon-map, "spaghetti");
}
